<nav>
    <div class="nav">
        <a href="/new" class="title">Crusaders Blog</a>
        <div class="links">
            <a href="/new">Home</a>
            <a href="/about">About</a>
            <a class="newFoodItemBtn" href="/new">New Blog</a>
        </div>
    </div>
</nav>

