<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
    <%- include("./partials/navbar") %>
    <div class="aboutUs">
        <h1>About Us!</h1>
        <p>This is a server for my practice Restaurant App. If you have any inquiry, feel free to drop a <a href="mailto:rko.jishan@gmail.com">mail</a>. I'll get back to you as soon as I can.</p>
        <p>Please feel free to visit my <a href="http://irfanulislam.netlify.app" target="_blank" rel="noopener noreferrer">Portfolio</a>.</p>
    </div>
    <%- include("./partials/footer") %>
</body>
</html>

